STRINGTABLE
{
  50, "Save"
  51, "Edit"
  52, "Delete"
  53, "Print"
  54, "Exit"
  55, "Show"
  56, "Next"
  57, "Previous"
 100, "Account Statements"
 101, "Account Name"
 102, "Date"
 103, "Till"
 104, "Cent"
 105, "Curr"
 106, "Proj"
 107, "Digram"
 108, "No;Date;Descr.;Debitor;Creditor;Dr.Balance;Cr.Balance;Balance"
 109, "inPeriod;All;Monthly;Cust. Base;Curr"
 119, "OutLay Reciept"
 120, "Income Reciept"
 121, "No"
 122, "Date"
 123, "Amount"
 124, "Rem.Fee"
 125, "Curr"
 126, "Rate"
 127, "IRR "
 128, "Account"
 129, "Cashier"
 130, "Project"
 131, "Cust.Name"
 132, "Desc."
 133, "Ref."
 134, "Auto Print"

}
