
CREATE TABLE [dbo].[AcBillList] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Bedeh] [money] NULL ,
	[Bestan] [money] NULL ,
	[Ackod] [decimal](18, 0) NULL ,
	[Acgir] [varchar] (45) NULL ,
	[Des] [varchar] (200) NULL ,
	[Accnam] [varchar] (45) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[AccountKod] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Nam] [varchar] (45) NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Kkol] [int] NULL ,
	[Kmo] [int] NULL ,
	[Kgro] [int] NULL ,
	[Ktaf] [int] NULL ,
	[Kdas] [int] NULL ,
	[Usekod] [smallint] NULL ,
	[LPerm] [bit] NOT NULL ,
	[Mah] [int] NULL ,
	[Tel] [varchar] (20) NULL ,
	[Adr] [varchar] (140) NULL ,
	[Pcred] [money] NULL ,
	[Tcred] [int] NULL ,
	[Kgp] [int] NULL ,
	[State] [varchar] (45) NULL ,
	[City] [varchar] (45) NULL ,
	[Regon] [varchar] (20) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[AccountPay] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Price] [money] NULL ,
	[Bednam] [varchar] (45) NULL ,
	[Besnam] [varchar] (45) NULL ,
	[Des] [varchar] (200) NULL ,
	[Bno] [int] NULL ,
	[Inv] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Ctip] [varchar] (15) NULL ,
	[Cprice] [money] NULL ,
	[Rate] [money] NULL ,
	[Cwage] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[AcountBill] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Bed] [money] NULL ,
	[Bes] [money] NULL ,
	[Ackod] [decimal](18, 0) NULL ,
	[Accnam] [varchar] (45) NULL ,
	[Des] [varchar] (200) NULL ,
	[Radif] [int] NULL ,
	[Facno] [varchar] (30) NULL ,
	[Btip] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Tip] [smallint] NULL ,
	[Cbed] [money] NULL ,
	[Cbes] [money] NULL ,
	[Rate] [float] NULL ,
	[Ctip] [varchar] (15) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Aghs] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Nam] [varchar] (45) NULL ,
	[Gprice] [money] NULL ,
	[RNo] [int] NULL ,
	[Payed] [bit] NOT NULL ,
	[RDat] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[AnbDat] (
	[Kod] [int] IDENTITY (1, 1) NOT NULL ,
	[Nam] [varchar] (45) NOT NULL ,
	[Adr] [varchar] (145) NULL ,
	[Admin] [varchar] (45) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Autobill] (
	[Var] [varchar] (10) NOT NULL ,
	[Caption] [varchar] (45) NOT NULL ,
	[BesKod] [decimal](18, 0) NULL ,
	[BehKod] [decimal](18, 0) NULL ,
	[Stat] [bit] NOT NULL 
) ON [PRIMARY]


CREATE TABLE [dbo].[Banks] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Bnam] [varchar] (45) NOT NULL ,
	[Bkod] [varchar] (20) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[BHav] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Price] [money] NULL ,
	[Jari] [varchar] (20) NULL ,
	[Des] [varchar] (200) NULL ,
	[Facno] [int] NULL ,
	[Accnam] [varchar] (45) NULL ,
	[Bno] [int] NULL ,
	[Inv] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Ctip] [varchar] (15) NULL ,
	[Cprice] [money] NULL ,
	[Rate] [money] NULL ,
	[Cwage] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Bill] (
	[id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Bedsum] [money] NULL ,
	[Bessum] [money] NULL ,
	[Des] [varchar] (200) NULL ,
	[LPerm] [bit] NOT NULL ,
	[Atf] [int] NULL ,
	[Tip] [smallint] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[BinvoGood] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Kod] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[Anbnam] [varchar] (45) NULL ,
	[Anbkod] [int] NULL ,
	[Quant] [float] NULL ,
	[Unit] [varchar] (20) NULL ,
	[Bfee] [money] NULL ,
	[Perc] [float] NULL ,
	[Ptotal] [money] NULL ,
	[No] [int] NULL ,
	[Bkod] [bit] NOT NULL ,
	[Reject] [float] NULL ,
	[Dat] [int] NULL ,
	[Pay] [money] NULL ,
	[Pfee] [money] NULL ,
	[Serial] [varchar] (20) NULL ,
	[Garan] [varchar] (45) NULL ,
	[Prop] [varchar] (200) NULL 
) ON [PRIMARY]


CREATE TABLE [dbo].[BTip] (
	[Id] [smallint] NOT NULL ,
	[Des] [varchar] (45) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Bvoice] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Nam] [varchar] (45) NULL ,
	[Tel] [varchar] (20) NULL ,
	[Dat] [int] NULL ,
	[Pkol] [money] NULL ,
	[Pdis] [money] NULL ,
	[Pnet] [money] NULL ,
	[LPerm] [bit] NOT NULL ,
	[Eco] [varchar] (20) NULL ,
	[Visit] [int] NULL ,
	[Bno] [int] NULL ,
	[Prule] [varchar] (30) NULL ,
	[Ppay] [money] NULL ,
	[Prem] [money] NULL ,
	[Plc] [money] NULL ,
	[Pm] [money] NULL ,
	[Ptar] [money] NULL ,
	[Pdemo] [money] NULL ,
	[Pcar] [money] NULL ,
	[Poth] [money] NULL ,
	[Pcost] [money] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Refno] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Cardex] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Dat] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[Anb] [varchar] (45) NULL ,
	[Anbkod] [int] NULL ,
	[IIn] [float] NULL ,
	[Out] [float] NULL ,
	[Rem] [float] NULL ,
	[No] [int] NULL ,
	[Des] [varchar] (20) NULL ,
	[Facnam] [varchar] (45) NULL ,
	[Fee] [money] NULL ,
	[Perc] [float] NULL ,
	[Prem] [money] NULL ,
	[Diag] [float] NULL ,
	[Pdiag] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Cashiers] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Name] [varchar] (45) NULL ,
	[Owner] [varchar] (45) NOT NULL ,
	[Ctip] [varchar] (20) NULL ,
	[Ackod] [decimal](18, 0) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Cent] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Kod] [int] NOT NULL ,
	[Radif] [int] NULL ,
	[Nam] [varchar] (45) NULL ,
	[Ename] [varchar] (45) NULL ,
	[Grop] [varchar] (45) NULL ,
	[Tel] [varchar] (20) NULL ,
	[Adr] [varchar] (140) NULL ,
	[Pcred] [money] NULL ,
	[Tcred] [int] NULL ,
	[State] [varchar] (45) NULL ,
	[City] [varchar] (45) NULL ,
	[Regon] [varchar] (20) NULL ,
	[Shmark] [varchar] (20) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Cexchange] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NOT NULL ,
	[Dat] [int] NOT NULL ,
	[Acnam] [varchar] (50) NOT NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Ckod] [int] NULL ,
	[Amount] [money] NOT NULL ,
	[Ctip] [varchar] (15) NULL ,
	[Rate] [money] NULL ,
	[IAmount] [money] NOT NULL ,
	[ICtip] [varchar] (15) NOT NULL ,
	[ExchAc] [decimal](18, 0) NULL ,
	[Bno] [int] NULL ,
	[Des] [varchar] (200) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Colors] (
	[Color] [varchar] (45) NOT NULL ,
	[Id] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Costc] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Nam] [varchar] (45) NULL ,
	[Kod] [int] NULL ,
	[Des] [varchar] (200) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[CPerm] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Ckod] [int] NULL ,
	[Ackod] [float] NULL ,
	[Acnam] [varchar] (45) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[CRate] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Cname] [varchar] (15) NULL ,
	[Fee] [money] NULL ,
	[Dat] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[CTip] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Name] [varchar] (15) NULL ,
	[Sign] [varchar] (5) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Depot] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Kod] [int] NULL ,
	[Gene] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[Anbnam] [varchar] (45) NULL ,
	[Anbkod] [int] NULL ,
	[Quant] [float] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[DHav] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NOT NULL ,
	[Dat] [int] NOT NULL ,
	[Nam] [varchar] (45) NULL ,
	[Pkol] [money] NULL ,
	[Pdis] [money] NULL ,
	[Pnet] [money] NULL ,
	[Bkod] [bit] NOT NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Refno] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[DHavG] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Kod] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[Anbnam] [varchar] (45) NULL ,
	[Anbkod] [int] NULL ,
	[Quant] [float] NULL ,
	[Unit] [varchar] (20) NULL ,
	[Pfee] [money] NULL ,
	[Ptotal] [money] NULL ,
	[Delikod] [bit] NOT NULL ,
	[Reject] [float] NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Serial] [varchar] (20) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[DiRej] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Nam] [varchar] (45) NULL ,
	[Pkol] [money] NULL ,
	[Pdis] [money] NULL ,
	[Pnet] [money] NULL ,
	[Bkod] [bit] NOT NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Refno] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[DiRejG] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Kod] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[Anbnam] [varchar] (45) NULL ,
	[Anbkod] [int] NULL ,
	[Quant] [float] NULL ,
	[Unit] [varchar] (20) NULL ,
	[Pfee] [money] NULL ,
	[Ptotal] [money] NULL ,
	[Delikod] [bit] NOT NULL ,
	[Reject] [float] NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Serial] [varchar] (20) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[DoRej] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NOT NULL ,
	[Dat] [int] NOT NULL ,
	[Nam] [varchar] (45) NULL ,
	[Pkol] [money] NULL ,
	[Pdis] [money] NULL ,
	[Pnet] [money] NULL ,
	[Bkod] [bit] NOT NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Refno] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[DoRejG] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Kod] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[Anbnam] [varchar] (45) NULL ,
	[Anbkod] [int] NULL ,
	[Quant] [float] NULL ,
	[Unit] [varchar] (20) NULL ,
	[Pfee] [money] NULL ,
	[Ptotal] [money] NULL ,
	[Delikod] [bit] NOT NULL ,
	[Reject] [float] NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Serial] [varchar] (20) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[DRes] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Nam] [varchar] (45) NULL ,
	[Pkol] [money] NULL ,
	[Pdis] [money] NULL ,
	[Pnet] [money] NULL ,
	[Bkod] [bit] NOT NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Refno] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[DResG] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Kod] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[Anbnam] [varchar] (45) NULL ,
	[Anbkod] [int] NULL ,
	[Quant] [float] NULL ,
	[Unit] [varchar] (20) NULL ,
	[Pfee] [money] NULL ,
	[Ptotal] [money] NULL ,
	[Delikod] [bit] NOT NULL ,
	[Reject] [float] NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Serial] [varchar] (20) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[FTip] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Des] [varchar] (45) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[GarDesh] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Dat] [int] NULL ,
	[Bedeh] [money] NULL ,
	[Bestan] [money] NULL ,
	[BedRem] [money] NULL ,
	[BesRem] [money] NULL ,
	[Baghi] [money] NULL ,
	[Des] [varchar] (200) NULL ,
	[No] [int] NULL ,
	[Diag] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[GCardex] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Dat] [int] NULL ,
	[Kod] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[Quant] [float] NULL ,
	[IOkod] [smallint] NULL ,
	[AnbNam] [varchar] (45) NULL ,
	[AnbKod] [int] NULL ,
	[FacNo] [int] NULL ,
	[FacNam] [varchar] (45) NULL ,
	[Des] [varchar] (20) NULL ,
	[Fee] [money] NULL ,
	[Perc] [float] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[GChart] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Des] [varchar] (45) NULL ,
	[Kol] [smallint] NULL ,
	[Mo] [smallint] NULL ,
	[Taf] [smallint] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[GGoz] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Dat] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Good] [varchar] (100) NULL ,
	[Quant] [float] NULL ,
	[Fee] [money] NULL ,
	[Total] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Goods] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Nam] [varchar] (100) NULL ,
	[Unit] [varchar] (20) NULL ,
	[Kol] [smallint] NULL ,
	[Mo] [smallint] NULL ,
	[Taf] [smallint] NULL ,
	[Kod] [int] NULL ,
	[Pkh] [money] NULL ,
	[Pfro] [money] NULL ,
	[Gene] [int] NULL ,
	[Rquant] [float] NULL ,
	[Bquant] [float] NULL ,
	[Fdp] [bit] NOT NULL ,
	[Prop1] [varchar] (100) NULL ,
	[Prop2] [varchar] (100) NULL ,
	[Prop3] [varchar] (100) NULL ,
	[Prop4] [varchar] (100) NULL ,
	[ISBN] [varchar] (50) NULL ,
	[Prule] [varchar] (10) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Invogood] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Kod] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[AnbNam] [varchar] (45) NULL ,
	[AnbKod] [float] NULL ,
	[Quant] [float] NULL ,
	[Unit] [varchar] (20) NULL ,
	[Pfee] [money] NULL ,
	[Perc] [float] NULL ,
	[Ptotal] [money] NULL ,
	[Delikod] [bit] NOT NULL ,
	[Reject] [float] NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Serial] [varchar] (20) NULL ,
	[Garan] [varchar] (45) NULL ,
	[Prop] [varchar] (200) NULL ,
	[OPfee] [money] NULL ,
	[OPSum] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Invoice] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Tel] [varchar] (20) NULL ,
	[Dat] [int] NULL ,
	[Adr] [varchar] (200) NULL ,
	[Nam] [varchar] (45) NULL ,
	[Pkol] [money] NULL ,
	[Pdis] [money] NULL ,
	[Pnet] [money] NULL ,
	[Ppay] [money] NULL ,
	[Prem] [money] NULL ,
	[Pcheq] [money] NULL ,
	[Bkod] [bit] NOT NULL ,
	[LPerm] [bit] NOT NULL ,
	[Eco] [varchar] (20) NULL ,
	[Visit] [int] NULL ,
	[Bno] [int] NULL ,
	[Prule] [varchar] (30) NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[RefNo] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Jari] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Dat] [int] NULL ,
	[Serial] [varchar] (20) NULL ,
	[Bestan] [money] NULL ,
	[Bedeh] [money] NULL ,
	[Rema] [money] NULL ,
	[Des] [varchar] (140) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Jari2104860870] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Dat] [int] NULL ,
	[Serial] [varchar] (20) NULL ,
	[Bestan] [money] NULL ,
	[Bedeh] [money] NULL ,
	[Rema] [money] NULL ,
	[Des] [varchar] (140) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[JariN] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Nam] [varchar] (45) NULL ,
	[Bnam] [varchar] (45) NULL ,
	[Bkod] [varchar] (20) NULL ,
	[DJari] [varchar] (45) NULL ,
	[AccKod] [decimal](18, 0) NULL ,
	[CheqKod] [decimal](18, 0) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Mali] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[BDes] [varchar] (150) NULL ,
	[Bed] [money] NULL ,
	[SDes] [varchar] (150) NULL ,
	[Bes] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Move] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Des] [varchar] (200) NULL ,
	[Pnet] [money] NULL ,
	[Bno] [int] NULL ,
	[LPerm] [bit] NOT NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[MoveGood] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Kod] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[OAnbNam] [varchar] (45) NULL ,
	[OAnbKod] [int] NULL ,
	[Quant] [float] NULL ,
	[IAnbNam] [varchar] (45) NULL ,
	[IAnbKod] [int] NULL ,
	[Unit] [varchar] (20) NULL ,
	[Pfee] [money] NULL ,
	[Ptotal] [money] NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Bkod] [bit] NOT NULL ,
	[Prop] [varchar] (50) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[NCar] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Price] [money] NULL ,
	[Jari] [varchar] (20) NULL ,
	[Des] [varchar] (200) NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Ctip] [varchar] (15) NULL ,
	[Cprice] [money] NULL ,
	[Rate] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[NFish] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Price] [money] NULL ,
	[Jari] [varchar] (20) NULL ,
	[Des] [varchar] (200) NULL ,
	[AccNam] [varchar] (45) NULL ,
	[Bno] [int] NULL ,
	[Inv] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Ctip] [varchar] (15) NULL ,
	[Cprice] [money] NULL ,
	[Rate] [money] NULL ,
	[Cwage] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Pcheq] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Bno] [varchar] (20) NULL ,
	[Bdat] [int] NULL ,
	[Paydat] [int] NULL ,
	[Bank] [varchar] (45) NULL ,
	[Bkod] [varchar] (20) NULL ,
	[Jari] [varchar] (20) NULL ,
	[Pbill] [money] NULL ,
	[Paykod] [bit] NOT NULL ,
	[Des] [varchar] (200) NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Acnam] [varchar] (45) NULL ,
	[Pkod] [decimal](18, 0) NULL ,
	[PBNo] [int] NULL ,
	[PaNo] [int] NULL ,
	[No] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Ctip] [varchar] (15) NULL ,
	[Cprice] [money] NULL ,
	[Rate] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[PInvogood] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Kod] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[Quant] [float] NULL ,
	[Unit] [varchar] (20) NULL ,
	[AnbNam] [varchar] (45) NULL ,
	[AnbKod] [int] NULL ,
	[Pfee] [money] NULL ,
	[Perc] [float] NULL ,
	[Ptotal] [money] NULL ,
	[Delikod] [bit] NOT NULL ,
	[Reject] [float] NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Serial] [varchar] (20) NULL ,
	[Garan] [varchar] (45) NULL ,
	[Prop] [varchar] (200) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[PInvoice] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Tel] [varchar] (20) NULL ,
	[Dat] [int] NULL ,
	[Adr] [varchar] (200) NULL ,
	[Nam] [varchar] (45) NULL ,
	[Pkol] [money] NULL ,
	[Pdis] [money] NULL ,
	[Pnet] [money] NULL ,
	[Ppay] [money] NULL ,
	[Prem] [money] NULL ,
	[Pcheq] [money] NULL ,
	[Bkod] [bit] NOT NULL ,
	[DeliKod] [bit] NOT NULL ,
	[LPerm] [bit] NOT NULL ,
	[Eco] [varchar] (20) NULL ,
	[Visit] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[PMon] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Price] [money] NULL ,
	[AccNam] [varchar] (45) NULL ,
	[Des] [varchar] (200) NULL ,
	[Bno] [int] NULL ,
	[Inv] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Ctip] [varchar] (15) NULL ,
	[Cprice] [money] NULL ,
	[Rate] [money] NULL ,
	[Cakod] [decimal](18, 0) NULL ,
	[Cwage] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Rcheq] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Bno] [varchar] (20) NULL ,
	[Bdat] [int] NULL ,
	[RecDat] [int] NULL ,
	[Bank] [varchar] (45) NULL ,
	[Bkod] [varchar] (20) NULL ,
	[Pbill] [money] NULL ,
	[No] [int] NULL ,
	[Des] [varchar] (200) NULL ,
	[Dpay] [varchar] (65) NULL ,
	[Reckod] [bit] NOT NULL ,
	[AccKod] [decimal](18, 0) NULL ,
	[AcNam] [varchar] (45) NULL ,
	[PAccKod] [decimal](18, 0) NULL ,
	[PacNam] [varchar] (45) NULL ,
	[Keler] [bit] NOT NULL ,
	[Jari] [varchar] (20) NULL ,
	[Reject] [bit] NOT NULL ,
	[Shar] [bit] NOT NULL ,
	[RBno] [int] NULL ,
	[PBno] [int] NULL ,
	[Pdat] [int] NULL ,
	[VBNo] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[PCost] [varchar] (45) NULL ,
	[PCkod] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RejBinvogood] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Kod] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[AnbNam] [varchar] (45) NULL ,
	[AnbKod] [int] NULL ,
	[Quant] [float] NULL ,
	[Unit] [varchar] (20) NULL ,
	[Pfee] [money] NULL ,
	[Perc] [float] NULL ,
	[Ptotal] [money] NULL ,
	[No] [int] NULL ,
	[Bkod] [bit] NOT NULL ,
	[Reject] [float] NULL ,
	[Dat] [int] NULL ,
	[Serial] [varchar] (20) NULL ,
	[Garan] [varchar] (45) NULL ,
	[Prop] [varchar] (200) NULL ,
	[OPfee] [money] NULL ,
	[OPSum] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RejBvoice] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Nam] [varchar] (45) NULL ,
	[Tel] [varchar] (20) NULL ,
	[Dat] [int] NULL ,
	[Pkol] [money] NULL ,
	[Pdis] [money] NULL ,
	[Pnet] [money] NULL ,
	[FacNo] [int] NULL ,
	[LPerm] [bit] NOT NULL ,
	[Eco] [varchar] (20) NULL ,
	[Visit] [int] NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[RefNo] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RejInvo] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Tel] [varchar] (20) NULL ,
	[Dat] [int] NULL ,
	[Adr] [varchar] (200) NULL ,
	[Nam] [varchar] (45) NULL ,
	[Pkol] [money] NULL ,
	[Pdis] [money] NULL ,
	[Pnet] [money] NULL ,
	[FacNo] [int] NULL ,
	[LPerm] [bit] NOT NULL ,
	[Eco] [varchar] (20) NULL ,
	[Visit] [int] NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[RefNo] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RejInvogood] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Kod] [int] NULL ,
	[Nam] [varchar] (100) NULL ,
	[Color] [varchar] (45) NULL ,
	[AnbNam] [varchar] (45) NULL ,
	[AnbKod] [int] NULL ,
	[Quant] [float] NULL ,
	[Unit] [varchar] (20) NULL ,
	[Pfee] [money] NULL ,
	[Perc] [float] NULL ,
	[Ptotal] [money] NULL ,
	[Delikod] [bit] NOT NULL ,
	[Reject] [float] NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Inv] [int] NULL ,
	[Serial] [varchar] (20) NULL ,
	[Garan] [varchar] (45) NULL ,
	[Prop] [varchar] (200) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Remit] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NOT NULL ,
	[Dat] [int] NOT NULL ,
	[Acnam] [varchar] (50) NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Des] [varchar] (200) NULL ,
	[Bno] [int] NULL ,
	[lperm] [bit] NOT NULL ,
	[Psum] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Remitin] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[ItNo] [int] NULL ,
	[Acnam] [varchar] (50) NOT NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Ckod] [int] NULL ,
	[Amount] [money] NULL ,
	[Ctip] [smallint] NULL ,
	[Rate] [money] NULL ,
	[Price] [money] NULL ,
	[Cwage] [money] NULL ,
	[Remfee] [varchar] (30) NULL ,
	[Code] [varchar] (35) NULL ,
	[Person] [varchar] (45) NULL ,
	[Tel] [varchar] (25) NULL ,
	[Bank] [varchar] (45) NULL ,
	[AccountDes] [varchar] (50) NULL ,
	[Des] [varchar] (130) NULL ,
	[Dat] [int] NOT NULL ,
	[No] [int] NOT NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RemitOut] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[ItNo] [int] NULL ,
	[Acnam] [varchar] (50) NOT NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Ckod] [int] NULL ,
	[Amount] [money] NULL ,
	[Ctip] [smallint] NULL ,
	[Rate] [money] NULL ,
	[Price] [money] NULL ,
	[Cwage] [money] NULL ,
	[Remfee] [varchar] (30) NULL ,
	[Code] [varchar] (35) NULL ,
	[Person] [varchar] (45) NULL ,
	[Tel] [varchar] (25) NULL ,
	[Bank] [varchar] (45) NULL ,
	[AccountDes] [varchar] (50) NULL ,
	[Des] [varchar] (130) NULL ,
	[Dat] [int] NOT NULL ,
	[No] [int] NOT NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RKel] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[AccKod] [decimal](18, 0) NULL ,
	[Acnam] [varchar] (45) NULL ,
	[Psum] [money] NULL ,
	[Des] [varchar] (200) NULL ,
	[LPerm] [bit] NOT NULL ,
	[Billed] [bit] NOT NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Rkeli] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Bdat] [int] NULL ,
	[Bno] [varchar] (20) NULL ,
	[Bank] [varchar] (45) NULL ,
	[Pbill] [money] NULL ,
	[No] [int] NULL ,
	[Reject] [bit] NOT NULL ,
	[Jari] [varchar] (20) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RMon] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Price] [money] NULL ,
	[AccNam] [varchar] (45) NULL ,
	[Des] [varchar] (200) NULL ,
	[BnO] [int] NULL ,
	[Inv] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Ctip] [varchar] (15) NULL ,
	[Cprice] [money] NULL ,
	[Rate] [money] NULL ,
	[Cakod] [decimal](18, 0) NULL ,
	[Cwage] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RPay] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Acnam] [varchar] (45) NULL ,
	[Psum] [money] NULL ,
	[Des] [varchar] (200) NULL ,
	[LPerm] [bit] NOT NULL ,
	[Billed] [bit] NOT NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Rpayi] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Bdat] [int] NULL ,
	[Bno] [varchar] (20) NULL ,
	[Bank] [varchar] (45) NULL ,
	[Pbill] [money] NULL ,
	[No] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RRej] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[AccKod] [decimal](18, 0) NULL ,
	[Acnam] [varchar] (45) NULL ,
	[Psum] [money] NULL ,
	[Des] [varchar] (200) NULL ,
	[LPerm] [bit] NOT NULL ,
	[Billed] [bit] NOT NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Rreji] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Bdat] [int] NULL ,
	[Bno] [varchar] (20) NULL ,
	[Bank] [varchar] (45) NULL ,
	[Pbill] [money] NULL ,
	[Ackod] [float] NULL ,
	[No] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RRes] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Acnam] [varchar] (45) NULL ,
	[Psum] [money] NULL ,
	[Des] [varchar] (200) NULL ,
	[LPerm] [bit] NOT NULL ,
	[Billed] [bit] NOT NULL ,
	[Bno] [int] NULL ,
	[Inv] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL ,
	[Ctip] [varchar] (15) NULL ,
	[Cprice] [money] NULL ,
	[Rate] [money] NULL ,
	[Cwage] [money] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RSaf] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Bno] [varchar] (20) NULL ,
	[Dat] [int] NULL ,
	[Nam] [varchar] (45) NULL ,
	[Adr] [varchar] (100) NULL ,
	[Pbill] [money] NULL ,
	[Statue] [varchar] (20) NULL ,
	[FNo] [int] NULL ,
	[Sprice] [money] NULL ,
	[Qt] [smallint] NULL ,
	[Pprice] [money] NULL ,
	[Daf] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RUKel] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[AccKod] [decimal](18, 0) NULL ,
	[Acnam] [varchar] (45) NULL ,
	[Psum] [money] NULL ,
	[Des] [varchar] (200) NULL ,
	[LPerm] [bit] NOT NULL ,
	[Billed] [bit] NOT NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[RUkeli] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Bdat] [int] NULL ,
	[Bno] [varchar] (20) NULL ,
	[Bank] [varchar] (45) NULL ,
	[Pbill] [money] NULL ,
	[No] [int] NULL ,
	[Reject] [bit] NOT NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Rvos] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[AccKod] [decimal](18, 0) NULL ,
	[Acnam] [varchar] (45) NULL ,
	[Psum] [money] NULL ,
	[Des] [varchar] (200) NULL ,
	[LPerm] [bit] NOT NULL ,
	[Billed] [bit] NOT NULL ,
	[Bno] [int] NULL ,
	[Cost] [varchar] (45) NULL ,
	[Ckod] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Rvosi] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Radif] [int] NULL ,
	[Bdat] [int] NULL ,
	[Bno] [varchar] (20) NULL ,
	[Bank] [varchar] (45) NULL ,
	[Pbill] [money] NULL ,
	[No] [int] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Tolids] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NULL ,
	[Dat] [int] NULL ,
	[Eco] [varchar] (20) NULL ,
	[Inp] [money] NULL ,
	[Outp] [money] NULL ,
	[Des] [varchar] (200) NULL ,
	[LPerm] [bit] NOT NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Users] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[UserN] [varchar] (45) NULL ,
	[Password] [varchar] (8) NULL ,
	[Master] [bit] NOT NULL ,
	[Mali] [varchar] (255) NULL ,
	[Lang] [varchar] (4) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[UserAc] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Userid] [int] NULL ,
	[Usern] [varchar] (50) NOT NULL ,
	[Acname] [varchar] (50) NOT NULL ,
	[Acckod] [decimal](18, 0) NOT NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[Visitors] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Code] [int] NULL ,
	[Nam] [varchar] (45) NULL ,
	[Tel] [varchar] (25) NULL ,
	[City] [varchar] (45) NULL ,
	[Adr] [varchar] (145) NULL ,
	[Bdat] [int] NULL ,
	[Perc] [float] NULL 
) ON [PRIMARY]

ALTER TABLE [dbo].[Bill] WITH NOCHECK ADD 
	CONSTRAINT [PK_Bill] PRIMARY KEY  NONCLUSTERED 
	(
		[id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[AcBillList] WITH NOCHECK ADD 
	CONSTRAINT [PK_AcBillList] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[AccountKod] WITH NOCHECK ADD 
	CONSTRAINT [PK_AccountKod] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[AccountPay] WITH NOCHECK ADD 
	CONSTRAINT [PK_AccountPay] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[AcountBill] WITH NOCHECK ADD 
	CONSTRAINT [PK_AcountBill] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Aghs] WITH NOCHECK ADD 
	CONSTRAINT [PK_Aghs] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[AnbDat] WITH NOCHECK ADD 
	CONSTRAINT [PK_AnbDat] PRIMARY KEY  NONCLUSTERED 
	(
		[Kod]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Autobill] WITH NOCHECK ADD 
	CONSTRAINT [PK_Autobill] PRIMARY KEY  NONCLUSTERED 
	(
		[Var]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Banks] WITH NOCHECK ADD 
	CONSTRAINT [PK_Banks] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[BHav] WITH NOCHECK ADD 
	CONSTRAINT [PK_BHav] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[BinvoGood] WITH NOCHECK ADD 
	CONSTRAINT [PK_BinvoGood] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Bvoice] WITH NOCHECK ADD 
	CONSTRAINT [PK_Bvoice] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Cardex] WITH NOCHECK ADD 
	CONSTRAINT [PK_Cardex] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Cashiers] WITH NOCHECK ADD 
	CONSTRAINT [PK_Cashiers] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Cent] WITH NOCHECK ADD 
	CONSTRAINT [PK_Cent] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Cexchange] WITH NOCHECK ADD 
	CONSTRAINT [PK_Cexchange] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Colors] WITH NOCHECK ADD 
	CONSTRAINT [PK_Colors] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Costc] WITH NOCHECK ADD 
	CONSTRAINT [PK_Costc] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[CPerm] WITH NOCHECK ADD 
	CONSTRAINT [PK_CPerm] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[CRate] WITH NOCHECK ADD 
	CONSTRAINT [PK_CRate] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[CTip] WITH NOCHECK ADD 
	CONSTRAINT [PK_CTip] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Depot] WITH NOCHECK ADD 
	CONSTRAINT [PK_Depot] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[DHav] WITH NOCHECK ADD 
	CONSTRAINT [PK_DHav] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[DHavG] WITH NOCHECK ADD 
	CONSTRAINT [PK_DHavG] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[DiRej] WITH NOCHECK ADD 
	CONSTRAINT [PK_DiRej] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[DiRejG] WITH NOCHECK ADD 
	CONSTRAINT [PK_DiRejG] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[DoRej] WITH NOCHECK ADD 
	CONSTRAINT [PK_DoRej] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[DoRejG] WITH NOCHECK ADD 
	CONSTRAINT [PK_DoRejG] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[DRes] WITH NOCHECK ADD 
	CONSTRAINT [PK_DRes] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[DResG] WITH NOCHECK ADD 
	CONSTRAINT [PK_DResG] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[FTip] WITH NOCHECK ADD 
	CONSTRAINT [PK_FTip] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[GarDesh] WITH NOCHECK ADD 
	CONSTRAINT [PK_GarDesh] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[GCardex] WITH NOCHECK ADD 
	CONSTRAINT [PK_GCardex] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[GChart] WITH NOCHECK ADD 
	CONSTRAINT [PK_GChart] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Goods] WITH NOCHECK ADD 
	CONSTRAINT [PK_Goods] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Invogood] WITH NOCHECK ADD 
	CONSTRAINT [DF_Invogood_Delikod] DEFAULT (0) FOR [Delikod],
	CONSTRAINT [PK_Invogood] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Invoice] WITH NOCHECK ADD 
	CONSTRAINT [PK_Invoice] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Jari] WITH NOCHECK ADD 
	CONSTRAINT [PK_Jari] PRIMARY KEY  NONCLUSTERED 
	(
		[Idd]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[JariN] WITH NOCHECK ADD 
	CONSTRAINT [PK_JariN] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Mali] WITH NOCHECK ADD 
	CONSTRAINT [PK_Mali] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Move] WITH NOCHECK ADD 
	CONSTRAINT [PK_Move] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[MoveGood] WITH NOCHECK ADD 
	CONSTRAINT [PK_MoveGood] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[NCar] WITH NOCHECK ADD 
	CONSTRAINT [PK_NCar] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[NFish] WITH NOCHECK ADD 
	CONSTRAINT [PK_NFish] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Pcheq] WITH NOCHECK ADD 
	CONSTRAINT [PK_Pcheq] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[PInvogood] WITH NOCHECK ADD 
	CONSTRAINT [PK_PInvogood] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[PInvoice] WITH NOCHECK ADD 
	CONSTRAINT [PK_PInvoice] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[PMon] WITH NOCHECK ADD 
	CONSTRAINT [PK_PMon] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Rcheq] WITH NOCHECK ADD 
	CONSTRAINT [PK_Rcheq] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RejBinvogood] WITH NOCHECK ADD 
	CONSTRAINT [DF_RejBinvogood_Bkod] DEFAULT (0) FOR [Bkod],
	CONSTRAINT [PK_RejBinvogood] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RejBvoice] WITH NOCHECK ADD 
	CONSTRAINT [PK_RejBvoice] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RejInvo] WITH NOCHECK ADD 
	CONSTRAINT [PK_RejInvo] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RejInvogood] WITH NOCHECK ADD 
	CONSTRAINT [DF_RejInvogood_Delikod] DEFAULT (0) FOR [Delikod],
	CONSTRAINT [PK_RejInvogood] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Remit] WITH NOCHECK ADD 
	CONSTRAINT [PK_Remit] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Remitin] WITH NOCHECK ADD 
	CONSTRAINT [PK_Rmitin] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RemitOut] WITH NOCHECK ADD 
	CONSTRAINT [PK_RemitOut] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RKel] WITH NOCHECK ADD 
	CONSTRAINT [PK_RKel] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Rkeli] WITH NOCHECK ADD 
	CONSTRAINT [PK_Rkeli] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RMon] WITH NOCHECK ADD 
	CONSTRAINT [PK_RMon] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RPay] WITH NOCHECK ADD 
	CONSTRAINT [PK_RPay] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Rpayi] WITH NOCHECK ADD 
	CONSTRAINT [PK_Rpayi] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RRej] WITH NOCHECK ADD 
	CONSTRAINT [PK_RRej] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Rreji] WITH NOCHECK ADD 
	CONSTRAINT [PK_Rreji] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RRes] WITH NOCHECK ADD 
	CONSTRAINT [PK_RRes] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RSaf] WITH NOCHECK ADD 
	CONSTRAINT [PK_RSaf] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RUKel] WITH NOCHECK ADD 
	CONSTRAINT [PK_RUKel] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[RUkeli] WITH NOCHECK ADD 
	CONSTRAINT [PK_RUkeli] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Rvos] WITH NOCHECK ADD 
	CONSTRAINT [PK_Rvos] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Rvosi] WITH NOCHECK ADD 
	CONSTRAINT [PK_Rvosi] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Tolids] WITH NOCHECK ADD 
	CONSTRAINT [PK_Tolids] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Users] WITH NOCHECK ADD 
	CONSTRAINT [PK_Users] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[UserAc] WITH NOCHECK ADD 
	CONSTRAINT [PK_UAccounts] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

ALTER TABLE [dbo].[Visitors] WITH NOCHECK ADD 
	CONSTRAINT [PK_Visitors] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 

 CREATE  UNIQUE  INDEX [IX_Bill] ON [dbo].[Bill]([No]) ON [PRIMARY]

 CREATE  UNIQUE  INDEX [AccountKod0] ON [dbo].[AccountKod]([Nam]) ON [PRIMARY]

 CREATE  INDEX [AcKoIxAccKod] ON [dbo].[AccountKod]([Acckod]) ON [PRIMARY]

 CREATE  INDEX [IX_AcountBill] ON [dbo].[AcountBill]([No]) ON [PRIMARY]

 CREATE  UNIQUE  INDEX [Autobill0] ON [dbo].[Autobill]([Var]) ON [PRIMARY]

 CREATE  UNIQUE  INDEX [Cent0] ON [dbo].[Cent]([Kod]) ON [PRIMARY]

 CREATE  UNIQUE  INDEX [Costc0] ON [dbo].[Costc]([Nam]) ON [PRIMARY]

 CREATE  UNIQUE  INDEX [CPerm0] ON [dbo].[CPerm]([Id]) ON [PRIMARY]

 CREATE  INDEX [DepotIxFind] ON [dbo].[Depot]([Kod], [Color], [Anbnam], [Anbkod]) ON [PRIMARY]

 CREATE  UNIQUE  INDEX [Goods0] ON [dbo].[Goods]([Nam]) ON [PRIMARY]

 CREATE  UNIQUE  INDEX [JariN0] ON [dbo].[JariN]([Nam]) ON [PRIMARY]

 CREATE  UNIQUE  INDEX [Visitors0] ON [dbo].[Visitors]([Code]) ON [PRIMARY]


