/* Microsoft SQL Server - Scripting			*/
/* Server: COMPAQ					*/
/* Database: Fort89					*/
/* Creation Date 2011/03/30 07:26:50 ب.ظ 			*/

CREATE TABLE [dbo].[Cexchange] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NOT NULL ,
	[Dat] [int] NOT NULL ,
	[Acnam] [varchar] (50) NOT NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Ckod] [int] NULL ,
	[Amount] [money] NOT NULL ,
	[Ctip] [varchar] (15) NULL ,
	[Rate] [money] NULL ,
	[IAmount] [money] NOT NULL ,
	[ICtip] [varchar] (15) NOT NULL ,
	[ExchAc] [decimal](18, 0) NULL ,
	[Bno] [int] NULL ,
	[Des] [varchar] (200) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Remit] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[No] [int] NOT NULL ,
	[Dat] [int] NOT NULL ,
	[Acnam] [varchar] (50) NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Des] [varchar] (200) NULL ,
	[Bno] [int] NULL ,
	[lperm] [bit] NOT NULL ,
	[Psum] [money] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Remitin] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[ItNo] [int] NULL ,
	[Acnam] [varchar] (50) NOT NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Ckod] [int] NULL ,
	[Amount] [money] NULL ,
	[Ctip] [smallint] NULL ,
	[Rate] [money] NULL ,
	[Price] [money] NULL ,
	[Cwage] [money] NULL ,
	[Remfee] [varchar] (30) NULL ,
	[Code] [varchar] (35) NULL ,
	[Person] [varchar] (45) NULL ,
	[Tel] [varchar] (25) NULL ,
	[Bank] [varchar] (45) NULL ,
	[AccountDes] [varchar] (50) NULL ,
	[Des] [varchar] (130) NULL ,
	[Dat] [int] NOT NULL ,
	[No] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RemitOut] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[ItNo] [int] NULL ,
	[Acnam] [varchar] (50) NOT NULL ,
	[Acckod] [decimal](18, 0) NULL ,
	[Ckod] [int] NULL ,
	[Amount] [money] NULL ,
	[Ctip] [smallint] NULL ,
	[Rate] [money] NULL ,
	[Price] [money] NULL ,
	[Cwage] [money] NULL ,
	[Remfee] [varchar] (30) NULL ,
	[Code] [varchar] (35) NULL ,
	[Person] [varchar] (45) NULL ,
	[Tel] [varchar] (25) NULL ,
	[Bank] [varchar] (45) NULL ,
	[AccountDes] [varchar] (50) NULL ,
	[Des] [varchar] (130) NULL ,
	[Dat] [int] NOT NULL ,
	[No] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[UserAc] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Userid] [int] NULL ,
	[Usern] [varchar] (50) NOT NULL ,
	[Acname] [varchar] (50) NOT NULL ,
	[Acckod] [decimal](18, 0) NOT NULL 
) ON [PRIMARY]
GO


ALTER TABLE [dbo].[Cexchange] WITH NOCHECK ADD 
	CONSTRAINT [PK_Cexchange] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Remit] WITH NOCHECK ADD 
	CONSTRAINT [PK_Remit] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Remitin] WITH NOCHECK ADD 
	CONSTRAINT [PK_Rmitin] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[RemitOut] WITH NOCHECK ADD 
	CONSTRAINT [PK_RemmitOut] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[UserAc] WITH NOCHECK ADD 
	CONSTRAINT [PK_UAccounts] PRIMARY KEY  NONCLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

